:root{
  --bg:#0b0e14;
  --card:#0f1420cc;
  --text:#e6e9ee;
  --muted:#a3acc2;
  --line:#1f2a44;
  --accent:#3aa0ff;
  --accent-2:#7c5cff;
  --glass: blur(10px) saturate(140%);
}

/* Avatar */
.avatar{
  width:160px;   /* ajusta el tamaño a tu gusto */
  height:160px;
  max-width:100%;
  object-fit:cover;
  display:block;
  border-radius:18px;
  border:2px solid var(--line);
  margin:auto;
}

@media (max-width:760px){
  .avatar{
    width:120px;
    height:120px;
    border-radius:14px;
  }
}
