/* Cambios en la sección de Certificados */
.certificados-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 2rem;
  justify-items: center;
  padding: 4rem 2rem;
  height: calc(100vh - 100px);
  text-align: center;
  overflow: hidden;
}

/* Estilo para el contenedor de botones en fila para Index.html */
.grid-secciones {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se acomoden en una fila */
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
}

.seccion {
  background-color: #1c1c1c;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 200px;
  width: 100%;
  max-width: 250px;
}

.seccion:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7);
}
